::ng-deep .ui-sidebar-left {
  top: 0;
  left: 0;
  width: 15em;
  height: 100%;
  transform: translateX(-100%);
}

::ng-deep .pi-money-bill:before {
  content: "\e974";
  font-size: 30px;
}

::ng-deep .pi-ticket:before {
  content: "\e974";
  font-size: 30px;
}

::ng-deep .pi-chart-line:before {
  content: "\e98b";
  font-size: 30px;
}

::ng-deep .pi-home:before {
  content: "\e925";
  font-size: 30px;
}

::ng-deep .pi-minus-circle:before {
  content: "\e910";
  font-size: 30px;
}

::ng-deep body .ui-menu {
  padding: 0;
  background-color: #ffffff;
  border: 0px solid #c8c8c8;
}

::ng-deep body .ui-menubar {
  padding: 0px;
  background-color: #ffffff;
  border: 0px solid #c8c8c8;
}
