<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [columns]="colunas" [value]="vendas" dataKey="ativo" [responsive]="true" #tabela>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-venda let-columns="columns">
          <tr>
            <td style="text-align: center;">{{venda.dataVenda | date:'dd/MM/yyyy'}}</td>
            <td style="text-align: center;" [ngStyle]="{'font-weight': 'bold'}">{{venda.ativo}}</td>
            <td style="text-align: center;">{{venda.quantidade}}</td>
            <td style="text-align: center;">{{venda.precoCompra | currency: 'R$'}}</td>
            <td style="text-align: center;">{{venda.precoVenda | currency: 'R$' }}</td>
            <td style="text-align: center;" [ngStyle]="{ color: venda.porcentagem < 0 ? 'red' : 'blue'}">{{venda.porcentagem + '%' }}</td>
            <td style="text-align: center;" [ngStyle]="{ color: venda.porcentagem < 0 ? 'red' : 'green'}">{{venda.lucro | currency: 'R$' }}</td>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          Nenhum Aporte encontrado.
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
