<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-fluid">
            <p-table [value]="aportes" #tabela>
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" [pSortableColumn]="'dataCompra'" id="th-data-compra">Data do Aporte
                            <p-sortIcon [field]="'dataCompra'" ariaLabel="ordenar" ariaLabelDesc="ordem decrescente" ariaLabelAsc="ordem crescente"></p-sortIcon>
                        </th>

                        <th scope="col">Ativo</th>

                        <th scope="col" [pSortableColumn]="'ativoFinanceiro.categoriaAtivo.nome'">Categoria
                            <p-sortIcon [field]="'ativoFinanceiro.categoriaAtivo.nome'" ariaLabel="ordenar" ariaLabelDesc="ordem decrescente" ariaLabelAsc="ordem crescente"></p-sortIcon>
                        </th>

                        <th scope="col" [pSortableColumn]="'quantidade'">Quantidade
                            <p-sortIcon [field]="'quantidade'" ariaLabel="ordenar" ariaLabelDesc="ordem decrescente" ariaLabelAsc="ordem crescente"></p-sortIcon>
                        </th>

                        <th scope="col" [pSortableColumn]="'custo'">Preço de Compra
                            <p-sortIcon [field]="'custo'" ariaLabel="ordenar" ariaLabelDesc="ordem decrescente" ariaLabelAsc="ordem crescente"></p-sortIcon>
                        </th>

                        <th scope="col" [pSortableColumn]="'valorTotal'">Valor Total
                            <p-sortIcon [field]="'valorTotal'" ariaLabel="ordenar" ariaLabelDesc="ordem decrescente" ariaLabelAsc="ordem crescente"></p-sortIcon>
                        </th>

                        <th style="width: 7em">
                            Ações
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-aporte let-columns="columns">
                    <tr>
                        <td style="text-align: center;">{{aporte.dataCompra | date:'dd/MM/yyyy'}}</td>
                        <td style="text-align: center;">{{aporte.ativoFinanceiro.codigo}}</td>
                        <td style="text-align: center;">{{aporte.ativoFinanceiro.categoriaAtivo.nome}}</td>
                        <td style="text-align: center;">{{aporte.quantidade}}</td>
                        <td style="text-align: center;">{{aporte.custo | currency: 'R$' }}</td>
                        <td style="text-align: center;">{{aporte.valorTotal | currency: 'R$' }}</td>

                        <td>
                            <button class="btn-edit" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top">
                            </button>
                            <button class="btn-delete ui-button-danger" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(aporte)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    Nenhum Aporte encontrado.
                </ng-template>
            </p-table>
        </div>
    </div>
</div>