<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h2>Meus Ativos</h2>
    </div>
    <div class="ui-g-12">
      <p-table [columns]="colunas" [value]="ativos" dataKey="codigo">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th style="width: 7em">
              Ações
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
          <tr>
            <td>
              <a href="" [pRowToggler]="rowData">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
              </a>
            </td>

            <td style="text-align: center;">{{rowData.codigo}}</td>
            <td style="text-align: center;">{{rowData.quantidade}}</td>
            <td style="text-align: center;">{{rowData.precoAtual === null ? '0,00' : rowData.precoAtual}}</td>
            <td style="text-align: center;">{{rowData.totalDinheiro === null ? '0,00' : rowData.totalDinheiro}}</td>
            <td style="text-align: center;">{{rowData.totalPorcentagem === null ? '0,00' : rowData.totalPorcentagem}}</td>
            <td style="text-align: center;">{{rowData.dataAtualizacao === null ? '---' : rowData.dataAtualizacao}}</td>

            <td>
              <a class="btn-edit" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button class="btn-delete ui-button-danger" pButton icon="pi pi-trash" pTooltip="Excluir"
                tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
          <tr>
            <td [attr.colspan]="columns.length + 1">
              <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                <div class="ui-g-12 ui-md-12">
                  <div class="ui-g">
                    <div class="ui-g-12">
                      <b>Descrição:</b> {{rowData.descricao}}
                    </div>
                    <div class="ui-g-12">
                      <b>Categoria:</b> {{rowData.categoriaAtivo.nome}}
                    </div>
                    <div class="ui-g-12">
                      <b>Tipo:</b> {{rowData.categoriaAtivo.tipo}}
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>
