<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-fluid">
            <p-table [columns]="colunas" [value]="ativos" dataKey="codigo" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 3em"></th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                  </th>
                  <th style="width: 7em">
                    Ações
                  </th>
                </tr>
              </ng-template>
                <ng-template pTemplate="body" let-ativo let-expanded="expanded" let-columns="columns">
                    <tr>
                        <td>
                            <a href="" [pRowToggler]="ativo">
                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                            </a>
                        </td>

                        <td style="text-align: center;">{{ativo.codigo}}</td>
                        <td style="text-align: center;">{{ativo.quantidade}}</td>
                        <td style="text-align: center;">{{ativo.precoAtual === null ? '0,00' : ativo.precoAtual}}</td>
                        <td style="text-align: center;">{{ativo.totalDinheiro === null ? '0,00' : ativo.totalDinheiro}}</td>
                        <td style="text-align: center;">{{ativo.totalPorcentagem === null ? '0,00' : ativo.totalPorcentagem}}</td>
                        <td style="text-align: center;">{{ativo.dataAtualizacao === null ? '---' : ativo.dataAtualizacao}}</td>

                        <td>
                            <button class="btn-edit" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top">
              </button>
                            <button class="btn-delete ui-button-danger" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(ativo)">
              </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-ativo let-columns="columns">
                    <tr>
                        <td [attr.colspan]="columns.length + 1">
                            <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                                <div class="ui-g-12 ui-md-12">
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            <b>Descrição:</b> {{ativo.descricao}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Categoria:</b> {{ativo.categoriaAtivo.nome}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Tipo:</b> {{ativo.categoriaAtivo.tipo}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    Nenhum Ativo Financeiro encontrado.
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
