<!--
<app-sidebar></app-sidebar>
<app-ativo-cadastro (cadastroEfetuado)="ativosGrid.listar()"></app-ativo-cadastro>
<app-ativos-grid #ativosGrid></app-ativos-grid>
-->
<app-navbar></app-navbar>
<app-aporte-cadastro></app-aporte-cadastro>
<app-aportes-grid></app-aportes-grid>

<ng2-toasty></ng2-toasty>
<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" #confirmacao>
  <p-footer>
    <button type="button" pButton="pi pi-check" label="Sim" (click)="confirmacao.accept()"></button>
    <button type="button" pButton="pi pi-check" label="Não" (click)="confirmacao.reject()"></button>
  </p-footer>
</p-confirmDialog>

