<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="adicionar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Ativos Financeiros</h1>

        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <button type="button" class="btn-cadastrar-ativo" (click)="showModalDialog()" pButton icon="pi pi-save" label="Cadastrar Ativo"></button>
            <button type="button" class="ui-button-warning btn-atualizar-ativo" (click)="showModalDialog()" pButton icon="pi pi-refresh" label="Atualizar Ativos"></button>
          </div>

          <div class="ui-toolbar-group-right">
            <input type="text" pInputText class="input-pesquisar "/>
            <button pButton type="button" icon="pi pi-search" ></button>
          </div>
          </p-toolbar>

          <p-dialog header="Cadastro de Ativos" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" >
            <div class="ui-g-12 ui-md-4 ui-fluid">
              <label>Nome do Ativo</label>
              <input pInputText type="text" [(ngModel)]="ativo.nome" name="codigo">
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
              <label>Código do Ativo</label>
              <input pInputText type="text" [(ngModel)]="ativo.codigo" name="codigo">
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
              <label>Categoria</label>
              <p-dropdown [options]="categorias" placeholder="Selecione" [(ngModel)]="ativo.categoriaAtivo.id" name="categoriaAtivo"></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid">
              <label>Descrição</label>
              <span class="ui-float-label">
                <textarea cols="30" pinputtextarea rows="5"
                  class="ui-inputtext ui-corner-all ui-state-default ui-widget" [(ngModel)]="ativo.descricao"
                  name="descricao">
              </textarea>

              </span>
            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid">
              <button pButton type="submit" label="Cadastrar"></button>
            </div>

      </p-dialog>

      </div>
    </div>
  </form>
</div>
