<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="adicionar(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <button type="button" class="btn-cadastrar-ativo" (click)="showModalDialog()" pButton icon="pi pi-save"
              label="Cadastrar Venda de Ativo"></button>
          </div>

          <div class="ui-toolbar-group-right">
            <input type="text" pInputText class="input-pesquisar " />
            <button pButton type="button" icon="pi pi-search"></button>
          </div>
        </p-toolbar>

        <p-dialog header="Cadastro de Venda de Ativos" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" position="top">
          <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>Data da Venda</label>
            <p-calendar appendTo="body" mask="99/99/9999" placeholder="dd/mm/aaaa" [inline]="false"
              [readonlyInput]="false" [showIcon]="false" dateFormat="dd/mm/yy" [yearNavigator]="true"
              yearRange="2000:2030" [(ngModel)]="venda.dataVenda" name="dataVenda">
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>Ativo</label>
            <input pInputText type="text" [(ngModel)]="venda.ativo" name="ativo">
          </div>

          <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>Quantidade</label>
            <input pInputText type="text" [(ngModel)]="venda.quantidade" name="quantidade">
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>Preço de Compra</label>
            <input pInputText type="text" [(ngModel)]="venda.precoCompra" name="precoCompra" currencyMask
              [options]="{prefix:'R$', thousands: '.', decimal: ',', align:'left'}">
          </div>

          <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>Preço de Venda</label>
            <input pInputText type="text" [(ngModel)]="venda.precoVenda" name="precoVenda" currencyMask
              [options]="{prefix:'R$', thousands: '.', decimal: ',', align:'left'}">
          </div>

          <p-footer>
            <button (click)="cancelar($event)" icon="pi pi-times" pButton type="button" label="Cancelar"
              class="ui-button-secondary"></button>
            <button pButton type="submit" icon="pi pi-check" label="Cadastrar" class="btn-prime"></button>
          </p-footer>
        </p-dialog>
      </div>
    </div>
  </form>
</div>
