/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

label {
    font-weight: bold;
}

.h1-page {
  color: chartreuse;
}

/* largura máxima da tela */

@media (min-width: 1200px) {
    /*@media - media querie para considerar a regra abaixo quando a tela for menor do que 1200px; */
    .container {
        width: 1170px;
        margin: 0 auto;
        /* O proprio navegar ira calcular os cantos e centralizar */
    }
}
